include ./mixins/index.jade

doctype html
html
  head
    title= title
    +CSS()

  body
    include ./navbar/index.jade
    br
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          block content
    br
    br
    include ./footer/index.jade
    +JS()
