mixin username()
  h5 User Name
  .input-group
    .input-group-addon First 
    input.form-control(name='first', type='input', value=user.firstname, required)
  br
  .input-group
    .input-group-addon Last &nbsp;
    input.form-control(name='last', type='input',value=user.lastname, required)
    
mixin credential()
  h5 Login Credentials
  .input-group
    .input-group-addon User Email
    input.form-control(name='user', type='email', value=user.email required)
  br
  
