extends ../layout

include ./mixins/index.jade

block content
  h2 Profile #{user.firstname} #{user.lastname}
  form(action='/user/update', method='POST', role='form')
    input.form-control(name='id', type='hidden', value=user.id)
    +username()
    +credential()
    hr      
    p.pull-right
      button.btn.btn-primary(type="submit") Save 
      |  
      button.btn.btn-default(type="button", href='/') Cancel  
  form(action='/user/delete', method='POST', role='form')
    br
    br
    br
    h4 Delete User
    input.form-control(name='id', type='hidden', value=user.id)
    p  Once you delete your profile it will not be recoverable.
    p.pull-left
      button.btn.btn-danger(type="submit") Delete 
