mixin CSS()
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.css')
  block CSS

mixin JS()
  script(src='/js/jquery-2.1.1.js')
  script(src='/js/bootstrap.js')
  script(src='/js/uuid.js')
  block JS
  
