include ./mixins/index.jade

nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href="#") Simple Secure Auth
    .navbar-right
      if profile.type == 'guest'
        include ./modals/login.jade
        include ./modals/register.jade
        +signin()  
        |  
        +register()
      else
        +signedin()
