.footer
  .container
    small.text-muted
      include ./modals/mit.jade
      a(href='#', data-toggle='modal', data-target='#mit') MIT Licence 
      | | Source on 
      a(href='https://github.com/TheMindCompany') Github
